@import '~anta-element-ui-components-next/src/scss/variables';

@mixin scrollbar() {
	&::-webkit-scrollbar-thumb {
		height: 50px;
		background-color: $--border-color-lighter;
		border: 2px solid #fff;

		// outline-offset: -2px;
		// outline: 2px solid #fff;
		border-radius: 6px;
	}

	/* ---鼠标点击滚动条显示样式-- */

	&::-webkit-scrollbar-thumb:hover {
		height: 50px;
		background-color: $--border-color-base;
		border-radius: 6px;
	}

	/* ---滚动条大小-- */
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	/* ---滚动框背景样式-- */
	&::-webkit-scrollbar-track-piece {
		background-color: #fff;
		border-radius: 0;
	}
}

@mixin no-scrollbar() {
	&::-webkit-scrollbar-thumb {
		height: 0;
		border-width: 0;
		border-radius: 0;
	}

	/* ---鼠标点击滚动条显示样式-- */

	&::-webkit-scrollbar-thumb:hover {
		height: 0;
		border-radius: 0;
	}

	/* ---滚动条大小-- */
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	/* ---滚动框背景样式-- */
	&::-webkit-scrollbar-track-piece {
		border-radius: 0;
	}
}
