@import 'anta-element-ui-styles/src/variables';

.user {
	display: flex;
	align-items: center;
	color: $--color-text-primary;
	cursor: pointer;

	:deep(.at-image) {
		margin-right: 8px;
		border-radius: 30px;
	}

	:deep(.at-icon-down) {
		margin-left: 5px;
	}
}
