// empty

// @import '~ace-builds/css/ace.css';

:root {
	--global-aside-width: 208px;
	--global-aside-width-collapse: 50px;
	--global-aside-bg-color: #01285a;
	--global-aside-header-title-color: #03234c;
	--global-bg-color: #eff2f9;
	--global-header-height: 48px;
}

.user-select-none {
	user-select: none;
}

.global-bg-color {
	background-color: var(--global-bg-color);
}
